.customers-slider{
  /* background: #222 !important; */
  border-bottom: 1px solid #9999;
}
.carouselItem{
  /* background: #222; */
}
.cs-slide-item{
  height: 600px;
  display: flex;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  /* background: #222 !important; */
  box-shadow: none !important;
}
.slider-item-heroPart{
  width: 55%;  
  height: 600px;
  padding: 40px;
}
.slider-item-heroPart img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider-item-infoPart{
  padding: 40px;
  width: 40%;
}
.slider-item-name h1{
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  color: rgb(12, 23, 82);
}
.slider-item-info p{
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.slider-buyProd{
  display: flex;
}
.slider-btn{
  border: 1px solid #999;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  background: transparent;
  cursor: pointer;
}
.btn-viewProd{
  margin-left: 20px;
}